html,body{font-family: 'Open Sans', sans-serif; margin: 0; padding: 0;}
h1,h2,h3,h4,h5,h6{margin: 0; padding: 0;}
p{padding: 0; margin: 0;}

.both-side-padding{padding: 0 2px;}
.mar__bottom{margin-bottom: 120px;}
.letter-spacing{letter-spacing: 1px;}
.left__margin{margin-left: 105px;}
.for-right-margin{margin-right: 210px; padding: 10px 0;}

.prefix-header{
  background: rgba(31,143,160,0.1); 
  width: 570px; 
  margin-right: 110px; 
  padding: 2px 0; 
  border-radius: 0 0 10px 10px;}
.prefix-header ul{margin-bottom: 5px;}
.prefix-header ul li{
  list-style: none; 
  display: inline; 
  margin: 0 5px; 
  font-size: 12px; 
  color: #1f8fa0; 
  font-weight: 600; 
  padding: 0;}
.prefix-header ul li i{padding-right: 3px;}
.prefix-header ul li a{color: #1f8fa0; padding: 0;}



.banner-section{
  padding: 60px 0 140px 0px; 
  background-image: url('img/banner.jpg'); 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 100% 100%;}
.banner-heading h1{
  color: #ffffff; 
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-heading h3{
    font-size: 1.9rem;
    color: #fff;
    position: relative;
    font-family: open_sansbold,Helvetica,Arial,sans-serif;

}

.packages-section{padding: 75px 15px;}
.package-heading-shared{
  background: #39925a; 
  padding: 10px; 
  text-align: center; 
  border-radius: 3px;}
.package-heading-shared h5{color: #ffffff; font-weight: 600;}
.triangle-shape{
  width: 0; height: 0; 
  border-left: 8px solid transparent; 
  border-right: 8px solid transparent; 
  border-top: 10px solid #39925a;}
.package-details-shared {
    background: #61bf83;
    border-radius: 3px;
    margin-bottom: 25px;
}
.now-details-shared{padding: 15px;}
.now-details-shared h6{
  text-align: center; 
  color: #ffffff; 
  font-weight: 600; 
  line-height: 22px; 
  margin-bottom: 30px; 
  letter-spacing: 0.5px;}
.now-details-shared p{
  text-align: center; 
  color: #ffffff; 
  border-bottom: 1px solid #007E33; 
  padding: 13px 0; 
  font-size: 14.5px; 
  font-weight: 600;}
.now-details-shared p:last-child{border-bottom: none;}
.price-shared p{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 3px rgba(0,0,0,0.4); font-size: 14px;}
.price-shared h1{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); font-size: 3.5em;}
.button-shared{padding: 20px 0 20px;}
.button-shared a{color: #ffffff; background: #39925a; border: 1px solid #39925a; padding: 8px 50px; font-size: 18px; text-transform: capitalize; font-weight: 700; border-radius: 3px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); transition: all 0.3s;}
.button-shared a:hover{text-decoration: none; background: #1e5c35; border: 1px solid #1e5c35; transition: all 0.3s linear;}

.package-heading-reseller{background: #c051c4; padding: 10px; text-align: center; border-radius: 3px;}
.package-heading-reseller h5{color: #ffffff; font-weight: 600;}
.triangle-reseller{width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #c051c4;}
.package-details-reseller{background: #ca92e1; border-radius: 3px;}
.now-details-reseller{padding: 15px;}
.now-details-reseller h6{text-align: center; color: #ffffff; font-weight: 600; line-height: 22px; margin-bottom: 30px; letter-spacing: 0.5px;}
.now-details-reseller p{text-align: center; color: #ffffff; border-bottom: 1px solid #9933CC; padding: 13px 0; font-size: 14.5px; font-weight: 600;}
.now-details-reseller p:last-child{border-bottom: none;}
.price-reseller p{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 3px rgba(0,0,0,0.4); font-size: 14px;}
.price-reseller h1{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); font-size: 3.5em;}
.button-reseller{padding: 20px 0 20px;}
.button-reseller a{color: #ffffff; background: #c051c4; border: 1px solid #c051c4; padding: 8px 50px; font-size: 18px; text-transform: capitalize; font-weight: 700; border-radius: 3px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); transition: all 0.3s;}
.button-reseller a:hover{text-decoration: none; background: #9933CC; border: 1px solid #9933CC; transition: all 0.3s linear;}


.package-heading-managed{background: #e0563f; padding: 10px; text-align: center; border-radius: 3px;}
.package-heading-managed h5{color: #ffffff; font-weight: 600;}
.triangle-managed{width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #e0563f;}
.package-details-managed{background: #eb8962; border-radius: 3px;}
.now-details-managed{padding: 15px;}
.now-details-managed h6{text-align: center; color: #ffffff; font-weight: 600; line-height: 22px; margin-bottom: 30px; letter-spacing: 0.5px;}
.now-details-managed p{text-align: center; color: #ffffff; border-bottom: 1px solid #b33f2c; padding: 13px 0; font-size: 14.5px; font-weight: 600;}
.now-details-managed p:last-child{border-bottom: none;}
.price-managed p{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 3px rgba(0,0,0,0.4); font-size: 14px;}
.price-managed h1{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); font-size: 3.5em;}
.button-managed{padding: 20px 0 20px;}
.button-managed a{color: #ffffff; background: #e0563f; border: 1px solid #e0563f; padding: 8px 50px; font-size: 18px; text-transform: capitalize; font-weight: 700; border-radius: 3px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); transition: all 0.3s;}
.button-managed a:hover{text-decoration: none; background: #b33f2c; border: 1px solid #b33f2c; transition: all 0.3s linear;}


.package-heading-dedicated{background: #518cbe; padding: 10px; text-align: center; border-radius: 3px;}
.package-heading-dedicated h5{color: #ffffff; font-weight: 600;}
.triangle-dedicated{width: 0; height: 0; border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #518cbe;}
.package-details-dedicated{background: #76aedf; border-radius: 3px;}
.now-details-dedicated{padding: 15px;}
.now-details-dedicated h6{text-align: center; color: #ffffff; font-weight: 600; line-height: 22px; margin-bottom: 30px; letter-spacing: 0.5px;}
.now-details-dedicated p{text-align: center; color: #ffffff; border-bottom: 1px solid #23547e; padding: 13px 0; font-size: 14.5px; font-weight: 600;}
.now-details-dedicated p:last-child{border-bottom: none;}
.price-dedicated p{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 3px rgba(0,0,0,0.4); font-size: 14px;}
.price-dedicated h1{color: #ffffff; font-weight: 700; letter-spacing: 0px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); font-size: 3.5em;}
.button-dedicated{padding: 20px 0 20px;}
.button-dedicated a{color: #ffffff; background: #518cbe; border: 1px solid #518cbe; padding: 8px 50px; font-size: 18px; text-transform: capitalize; font-weight: 700; border-radius: 3px; text-shadow: 1px 2px 6px rgba(0,0,0,0.4); transition: all 0.3s;}
.button-dedicated a:hover{text-decoration: none; background: #23547e; border: 1px solid #23547e; transition: all 0.3s linear;}


.other-product{padding: 50px 0;}
.other-product h2{text-align: center; color: #424242; font-weight: 700; margin-bottom: 25px;}
.other-product h5{text-align: center; color: #424242; font-weight: 500;}


.details-blog-packages{padding: 50px 0;}
.sided-paragraph h4{color: #424242; font-weight: 700; margin-bottom: 22px;}
.sided-paragraph p{color: #616161; margin-bottom: 30px;}
.button-details a{color: #ffffff; padding: 8px 30px; background: #1f8fa0; border: 1px solid #1f8fa0; text-transform: capitalize; font-size: 16px; font-weight: 700; border-radius: 3px;}


.quote-section{padding: 75px 0 35px; background: #e5f4f3;}
.quote-section blockquote{text-align: center; color: #1f8fa0; font-size: 1.2em; margin: 0 100px; font-style: italic; font-weight: 700;}
.quote-section blockquote::before{content: "\201C"; display: block; font-size: 5em; text-align: left; color: #a1ced5; position: relative; line-height: 20px;}
.quote-section blockquote::after{content: "\201C"; display: block; font-size: 5em; text-align: right; color: #a1ced5; position: relative; line-height: 75px;}
.author-name h4{color: #1f8fa0; font-weight: 700; text-align: center;}
.author-name h6{text-align: center; margin-top: 10px;}
.author-name h6 a{color: #424242; font-weight: 700;}


.linked-section{
     background: #4ac3cd;
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.three-phase h5{text-align: center; font-weight: 700; color: #ffffff;}
.three-phase h5 a{color: #ffffff; background: #1f8fa0; padding: 10px 25px; border: 1px solid #1f8fa0; text-transform: capitalize; font-weight: 700; margin: 0 20px; border-radius: 3px;}

.reviews-section{padding: 50px 0;}
.excellent-review{width: 760px; background: #fafafa; padding: 15px; box-shadow: 0px 1px 0 rgba(0,0,0,0.05); border-radius: 4px;}
.excellent-review h5{text-transform: uppercase; color: #000; font-size: 20px;}
.excellent-review h5 i{color: #f79647;}
.how-much h6{color: #000; font-weight: 600; font-size: 18px;}
.how-much h6 span{color: #757575;}
.triangle-reviews{width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 10px solid #bdbdbd;}
.slider-review-part{margin: 25px  0;}
.single-review h6{font-weight: 700; color: #424242; margin-bottom: 20px;}
.single-review h6 i{color: #f79647;}
.single-review p{font-size: 13px; color: #424242; line-height: 15px;}
.posted__on{font-size: 12px!important; color: #bdbdbd!important;}
#reviews-slider{position: relative;}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{position: absolute; bottom: 10px; right: 20px; background: #000; padding: 0px 10px!important; font-size: 20px; color: #ffffff;}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot:hover{background: #000!important;}
.owl-carousel .owl-nav button.owl-prev{margin-right: 35px;}


.footer-section{padding: 50px 0; border-top: 1px dotted #1f8fa0;}
.spn-images{padding-bottom: 50px;}
.footer-heading{padding-bottom: 25px;}
.footer-heading h5 a{color: #1f8fa0; font-weight: 700; transition: all 0.3s; text-decoration: none;}
.footer-heading h5 a:hover{color: #136673; transition: all 0.3s linear;}
.links-footer ul{padding: 0px;}
.links-footer ul li{list-style: none;}
.links-footer ul li a{color: #757575; font-size: 13px;}
.links-footer ul li a:hover{text-decoration: none;}

.social-media a:hover i{background: #bdbdbd; transition: all 0.3s linear;}
.social-media a{margin: 0 3px 0 0;}
.social-media a i{padding: 10px; background: #e0e0e0; color: #ffffff; border-radius: 50%; transition: all 0.3s;}
.facebook i{padding: 10px 13px!important;}
.google-plus i{padding: 10px 8px!important;}
.dev-c{margin: 20px 0;}
.dev-c p{color: rgba(31,143,160,0.75); font-size: 12px; transition: all 0.3s;}
.dev-c p:hover{color: rgba(31,143,160,1); transition: all 0.3s linear;}

.page-hero {
    background: url(img/hero-clouds.png) repeat-x center bottom #236f8a;
    padding-top: 75px;
    padding-bottom: 120px;
}
.page-hero .hero-cloud1 {
    position: absolute;
    left: -5%;
    top: -50px;
    opacity: .5;
}
.page-hero .hero-cloud2 {
    position: absolute;
    right: 0%;
    top: 15px;
    opacity: .5;
}
@media (max-width:767px){
  .noMobile, .page-hero .hero-cloud2, .page-hero .hero-cloud1{
    display: none !important;
  }
  .text-center-mobile{
    text-align: center !important;
  }
  .mar__bottom {
    margin-bottom: 85px;
  }
  .page-hero {
    padding-top: 20px !important;
  }
    .m-mobile{
    margin: 15px;
  }
  .quote-section blockquote{
    margin: 0 !important;
  }

}
  .m-bg{
    background: #1f8fa0;
    padding: 10px 25px;
    color: #fff;
    font-size: 1.4rem;
  }

  .banner-heading {
    padding-left: 65px;
}

a.m-bg:hover {
    background: #136673;
    text-decoration: none;
    color: fff;
}